/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

/*body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*ol, ul {
  padding-left: 30px;
}*/

div {
  border: 1px solid #999;
}
#main-heading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 100px;
}

#main-desc {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

#inline-desc {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: italic;

}
.d-flex {
  padding: 5px;
}

#page-heading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 70px;
  padding-bottom: 5px;

}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/*
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}*/
